<body style="text-align:center;">
  <p>Clique <a href="{{apiUrl}}/user-management/verify_email/{{verifyToken}}">
      aqui
    </a> para confirmar seu email e começar a criar seus projetos!<br>
    <img src="cid:welcome-image" alt="welcome" style="width: 40%; margin: 40px 0;">
  </p>
</body>
