<body style="text-align:center;">
  <br />

  <p>Clique no botão para confirmar seu email e começe a criar seus projetos!<br /><br />
  </p>
  <a style="padding: 20px; background-color: #7D07F2; border-style: none; outline: 0; color: #fff; font-weight: 700; border-radius: 8px; cursor: pointer; text-decoration:none;"
    href="{{FRONT_URL}}/verify-email?token={{verifyToken}}">Confirmar
    o email</a>

</body>
